body{
    background-color: #DADADA;
}
.two-blocks{
    margin:auto;
    padding-top:100px;
    max-width: 1000px;
    height: auto;

}
.left-block{
    
    width:65%;
    float:left;
    padding:10px;
    min-width:360px;

    
}
.inputing-area{
    padding:10px;
    width:auto;
    height:35px;
    background-color:white;
    padding:10px;
    border-bottom:1px solid grey;
    border-top:1px solid grey;


    
}
.right-block{
    
    width:30%;
    float:left;
    color:black;
    padding:10px;
    min-width:270px;
    height:auto;
}

input{
    height:100%;
    width:67%;
    float:left;
    min-width:150px;

}
.button{

    background-color:aqua;
    height:100%;
    width:28%;
    min-width:100px;

    
}
.item1{
    width:auto;
    padding:10px;
    height:55px;
    background-color:white;
    border-bottom:1px solid grey;
}
.item-name{
    float:left;
    display:inline-block;
    text-align: left;
    width:17%;
    height:25px;
    padding:15px;
}
.buttons{
    display:inline-block;
    width:30%;
    text-align:center;
    padding:15px;
    
}
.red-button{
    float:left;
    margin-left:20%;
    text-align:center;
    background-color:red;
  display:inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid red;
    color:white;
}
.count{
    float:left;
    margin-left:2%;
    display:inline-block;
    height:15px;
    width:15px;
    padding:5px;
    background-color:lightgrey;
    color:black;
    text-align:center;
}
.green-button{
    float:left;
    margin-left:2%;
    text-align:center;
    background-color:green;
  display:inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid green;
    color:white;
}
.rightButtons{
    display:inline-block;
    width:10%;
    min-width:110px;
    padding-right:10px;
    padding-top:15px;
    padding-bottom:15px;
    float:right;
    
    
}
.cuplenoB{
    display:inline-block;
    text-align:center;
    width:40;
    height:25;
    color:black;
    margin-left:2%;
    float:    
}
.X{
    background-color:red;
}
.zal{
    width:auto;
    padding:10px;
    height:50px;
    background-color:white;
    border-top:1px solid grey;
    border-bottom:1px solid grey;
    
}
.zalItems{
    width:auto;
    padding:10px;
    height:auto;
    
    background-color:white;
    border-bottom:1px solid grey;
}
.kuplenoHeader{
        width:auto;
    padding:10px;
    height:50px;
    background-color:white;
    border-bottom:1px solid grey;
}
.kupleno{
        width:auto;
    padding:10px;
    height:auto;
    background-color:white;
    border-bottom:1px solid grey;
    
}
.tovar{
    display:inline-block;
    width:auto;
    padding:10px;
    background-color:lightgrey;
    
    
}
.odinCircle{
     float:right;
    text-align:center;
    background-color:orange;
  display:inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid orange;
      border-radius: 50%;
    color:black;
    margin-left:5px;
    
}
.tovarText{
    float:left;
    width:auto;
    
    
    
}






