body{
    background-color: #DADADA;
}
.two-blocks{
    margin:auto;
    padding-top:100px;
    max-width: 1000px;
    height: auto;

}
.left-block{
    
    width:65%;
    float:left;
    padding-right:2%;
    min-width:300px;

    
}
.inputing-area{
    padding:10px;
    width:auto;
    height:35px;
    background-color:white;
    padding:10px;
    border-bottom:1px solid grey;
    border-top:1px solid grey;


    
}
.right-block{
    display:inline-block;
    width:30%;
    float:left;
    color:black;
    padding-left:2%;
    height:auto;
}

input{
    height:100%;
    width:67%;
    float:left;
    min-width:150px;

}
.button{

    background-color:aqua;
    height:100%;
    width:28%;
    position:relative;
   
    
}
.item1{
    width:auto;
    padding:10px;
    height:55px;
    background-color:white;
    border-bottom:1px solid grey;
}
.item-name{
    float:left;
    display:inline-block;
    text-align: left;
    width:20%;
    height:25px;
    padding:15px;
    padding-left:0;
    padding-right:0;
}
.rightButtons{
    float:right;
    display:inline-block;
    width:10%;
    min-width:110px;
    padding-right:10px;
    padding-top:15px;
    padding-bottom:15px;
        padding-left:0;
    padding-right:0;
    
    
}
.buttons{
    display:inline-block;
    
    margin-left:10%;
    width:30%;
    text-align:center;
    padding:15px;
        padding-left:0;
    padding-right:0;
    
}
.red-button{
    float:left;
    text-align:center;
    background-color:red;
  display:inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid red;
    color:white;
    position:relative;
}
.count{
    float:left;
    margin-left:2%;
    display:inline-block;
    height:15px;
    width:15px;
    padding:5px;
    background-color:lightgrey;
    color:black;
    text-align:center;
}
.green-button{
    float:left;
    margin-left:2%;
    text-align:center;
    background-color:green;
  display:inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid green;
    color:white;
    position:relative;
}

.cuplenoB{
    display:inline-block;
    text-align:center;
    width:40;
    height:25;
    color:black;
    margin-left:2%;
    position:relative;
}
.X{
    background-color:red;
position:relative;
}

.zal{
    width:auto;
    padding:10px;
    height:50px;
    background-color:white;
    border-top:1px solid grey;
    border-bottom:1px solid grey;

}
.zalItems{
    width:auto;
    padding:10px;
    height:auto;
    
    background-color:white;
    border-bottom:1px solid grey;
}
.kuplenoHeader{
        width:auto;
    padding:10px;
    height:50px;
    background-color:white;
    border-bottom:1px solid grey;
}
.kupleno{
        width:auto;
    padding:10px;
    height:auto;
    background-color:white;
    border-bottom:1px solid grey;
    
}
.tovar{
    display:inline-block;
    width:auto;
    padding:10px;
    background-color:lightgrey;
    
    
}
.odinCircle{
     float:right;
    text-align:center;
    background-color:orange;
  display:inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid orange;
      border-radius: 50%;
    color:black;
    margin-left:5px;
    
}
.tovarText{
    float:left;
    width:auto;
    
    
    
}
.badge{
    position:fixed;
    background-color:darkviolet;
    border-radius: 10px 10px;
    bottom:-200px;
    left:20px;
    color:white;
    height:300px;
    min-width:200px;
    white-space:nowrap;
    text-align: center;
    transition: all 1s ease;
    
}
.badge-title{
    font-size:55px;
    padding:10px;
    margin:0;
}
.badge-created-by{
    font-size:30px;
    padding:10px;
    padding-top:30px;
    padding-bottom:0;
    margin:0;
    text-align: left;
    
}

.badge-name{
    font-size:35px;
    padding:10px;
    padding-top:0;
    margin:0;
    
}
.badge:hover {
    background-color: darkblue;
    transform: translateY(-100px);
}
@media print {
    .badge-title {
        display: none;
    }
    .badge-created-by{
        margin:0;
    }
    .badge-name{
        margin:0;
    }

    .badge {
        border: solid darkviolet 1px;
        background-color:white;
        color:black;
        height:100px;
        bottom:0px;
    }
}
@media (max-width:500px){
    .left-block{
        width:100%;
        padding-right:0;
    }
    .right-block{
        width:100%;
        padding-left:0;
    }
    
}

button::after {
    background: darkviolet;
    border-radius: 10px;
    color: white;
    content: attr(data-tooltip);
    transition: all 1s ease-in-out;
    position: absolute;
    padding-left:5px;
    padding-right:5px;
    left:-50px;
    right:-50px;
    bottom:100%;
    margin:auto;
    transform: scale(0);
    font-size:14px;

}

button:hover::after {
    
    transform: scale(1);
    transition: all 1s ease;

}






